/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	
	    -fx-padding: 5;
	
}
#label {
	 -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: #CCFF99;
	
}